In [96]:
import pandas as pd

In [97]:
path = "gxadmin_wf_conn.tabular"

df = pd.read_csv(path, sep=' \t ')

/home/kumara/miniconda3/envs/graph_db/lib/python3.6/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [98]:
df.columns

Index(['wf_id', '        wf_updated        ', 'in_id ',
       '                                                               in_tool                                                                ',
       '         in_tool_v          ', 'out_id',
       '                                                               out_tool                                                               ',
       '         out_tool_v         ',
       '                                                        tool_inputs                                                         ',
       '               tool_outputs                ', 'published'],
      dtype='object')

In [99]:
df.columns = ['wf_id', 'wf_updated', 'in_id', 'in_tool', 'in_tool_v', 'out_id', 'out_tool', 'out_tool_v', 'tool_inputs', 'tool_outputs', 'published']

In [100]:
df["tool_inputs"]

0         input1                                        ...
1         input                                         ...
2         input                                         ...
3         input                                         ...
4         input                                         ...
                                ...
342231    queries_1\tinput2                             ...
342232    input1                                        ...
342233    input                                         ...
342234    corData                                       ...
342235                                                 None
Name: tool_inputs, Length: 342236, dtype: object

In [101]:
df = df[0:len(df) - 1]

In [102]:
df["tool_inputs"] = df["tool_inputs"].str.replace("\t", "|")

In [103]:
df["tool_inputs"]

0         input1                                        ...
1         input                                         ...
2         input                                         ...
3         input                                         ...
4         input                                         ...
                                ...
342230    input1                                        ...
342231    queries_1|input2                              ...
342232    input1                                        ...
342233    input                                         ...
342234    corData                                       ...
Name: tool_inputs, Length: 342235, dtype: object

In [104]:
df

,wf_id,wf_updated,in_id,in_tool,in_tool_v,out_id,out_tool,out_tool_v,tool_inputs,tool_outputs,published
0,5,2013-02-07 16:49:04.367628,27.0,Cut1 ...,1.0.1,59.0,Paste1 ...,1.0.0,input1 ...,,f
1,5,2013-02-07 16:49:04.367628,39.0,Filter1 ...,1.1.0,46.0,Summary_Statistics1 ...,1.1.0,input ...,,f
2,5,2013-02-07 16:49:04.367628,49.0,Summary_Statistics1 ...,1.1.0,32.0,Cut1 ...,1.0.1,input ...,,f
3,5,2013-02-07 16:49:04.367628,60.0,Paste1 ...,1.0.0,63.0,Add_a_column1 ...,1.1.0,input ...,,f
4,5,2013-02-07 16:49:04.367628,62.0,Add_a_column1 ...,1.1.0,38.0,addValue ...,1.0.0,input ...,,f
...,...,...,...,...,...,...,...,...,...,...,...
342230,38330,2019-11-11 12:08:48.662641,582682.0,toolshed.g2.bx.psu.edu/repos/devteam/bowtie2/b...,2.2.6,582684.0,toolshed.g2.bx.psu.edu/repos/devteam/samtools_...,2.0,input1 ...,,f
342231,38330,2019-11-11 12:08:48.662641,582701.0,toolshed.g2.bx.psu.edu/repos/bgruening/text_pr...,1.0.0,582708.0,cat1 ...,1.0.0,queries_1|input2 ...,out_file1,f
342232,38330,2019-11-11 12:08:48.662641,582707.0,toolshed.g2.bx.psu.edu/repos/iuc/bedtools/bedt...,2.19.0,582711.0,wig_to_bigWig ...,1.1.1,input1 ...,out_file1,f
342233,38334,2019-11-11 12:57:35.861326,582746.0,toolshed.g2.bx.psu.edu/repos/ebi-gxa/seurat_re...,2.3.1+galaxy1,582747.0,toolshed.g2.bx.psu.edu/repos/ebi-gxa/seurat_cr...,2.3.1+galaxy0,input ...,,f
342234,38336,2019-11-11 13:14:21.448855,582764.0,toolshed.g2.bx.psu.edu/repos/bgruening/deeptoo...,3.0.2.0,582766.0,toolshed.g2.bx.psu.edu/repos/bgruening/deeptoo...,3.0.2.0,corData ...,outFileName,f

In [105]:
#df = df.sort_values(by=['wf_id'], ascending=True)
df["wf_updated"] = pd.to_datetime(df["wf_updated"])

In [106]:
rows = 500 #len(df)
df[:rows].to_csv("gxadmin_workflow_connections" + "_" + str(rows) + ".tsv", sep="\t", index=False)